<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>GESTION COOPERATIVA</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/reporte.css}" type="text/css"
	media="screen" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css"
	media="screen" />

<script type="text/javascript" th:src="@{/js/funcionJs.js}"
	src="/js/funcionJs.js"></script>
</head>

<body style="overflow-y: hidden; overflow-x: hidden;">
	<header th:replace="/index :: menuPag"> </header>

	<div class="container">
		<div class="modal-header">
			<h2 class="modal-title" id="myModalLabel" align="center">DENUNCIAS
				DE USUARIOS</h2>
			<br>
			<form class="form-horizontal" role="form" action="#"
				th:action="@{/reporteQueja/consultafiltro}" method="get">

				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="inputDateDesde">DESDE</label> <input
							id="inputDateDesde" type="date" name="desde" th:value="${desde}"
							class="form-control" />
					</div>
					<div class="form-group col-md-3">
						<label for="inputDateHasta">HASTA</label> <input
							id="inputDateHasta" type="date" name="hasta" th:value="${hasta}"
							class="form-control" />
					</div>
					<div class="form-group col-md-3">
						<label for="selectCooperativa">COOPERATIVA</label> <select
							id="selectCooperativa" name="idCooperativa"
							th:value="${idCooperativa}" class="form-control"
							title="Seleccione cooperativa">
							<option value="">--</option>
							<option th:each="coo : ${ListaCooperativa}" th:value="${coo.id}"
								th:utext="${coo.nombre}" />
						</select>
					</div>
					<div class="form-group col-md-2">
						<label for="inputDateHasta" style="visibility: hidden;">CONSULTAR</label>
						<button type="button" class="btn btn-primary validarInput">
							<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
							BUSCAR
						</button>
					</div>
					<div class="form-group col-md-3">
						<label for="inputDateHasta" style="visibility: hidden;">CONSULTAR</label>
						<div class="alert alert-danger" role="alert" id="alertaCampoVacio"
							style="display: none; padding: 7px; margin-bottom: 0px; font-weight: bolder; font-size: 15px; border: 0px;"
							align="center">LIMPIAR</div>

					</div>
				</div>
			</form>
		</div>



		<div class="modal-body" style="height: 400px;">
			<div class="table-responsive">
				<table
					class="table table-hover table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th class="text-center col-sm-1">#</th>
							<th class="text-center col-sm-2">ASUNTO</th>
							<th class="text-center col-sm-1">DISCO</th>
							<th class="text-center col-sm-2">UBICACION</th>
							<th class="text-center col-sm-1">FECHA</th>
							<th class="text-center col-sm-2">COOPERATIVA</th>
							<th class="text-center col-sm-4">MENSAJE</th>
						</tr>
					</thead>
					<tbody id="tbodyDenuncias">

					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-footer">

			<div align="right">
				<a href="#" th:href="@{/reporteQueja/listaReporteQuejaPdf}"
					target="_blank">
					<button type="button" class="btn btn-primary" id="btnPDF">
						<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
						PDF
					</button>
				</a>


				<!-- <a href="" onclick="openNewWindowForJasperWithCharts();">Generate Report</a> -->

				<a href="#"
					th:href="@{/reporteQuejaGraph/listaReporteQuejaCooperativaPdfGraph}"
					target="_blank">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
						PDFGRAPH
					</button>
				</a>
			</div>

		</div>
	</div>
</body>
<div class="modal-dialog" th:include="gestion/gestionArchivo"></div>

<script th:inline="javascript">
	var btnPDF = document.getElementById("btnPDF");

	function openNewWindowForJasperWithCharts() {
		var url = "/reporteQuejaGraph/generarPdfGraph";
		var strWindowFeatures = "menubar=no,location=no,width=800,height=500";
		window.open(url, "_blank", "location=0,height=500,width=800");
	}

	window.onload = deshabilitaBotonPDF;

	$('.validarInput')
			.on(
					'click',
					function(event) {
						event.preventDefault();
						var inputDesde = $("#inputDateDesde").val();
						var inputHasta = $("#inputDateHasta").val();
						var cmbCooperativa = $("#selectCooperativa").val();

						console.log('inputDesde ', inputDesde);
						console.log('inputHasta ', inputHasta);
						console.log('cmbCooperativa ', cmbCooperativa);

						if (inputDesde === '' && inputHasta === ''
								&& cmbCooperativa === '') {
							ajaxListaCompleta();
						} else {
							if ((inputDesde === '' && inputHasta != '')
									|| (inputHasta === '' && inputDesde != '')) {
								limpiarAlertaInnerHtml();
								document.getElementById("alertaCampoVacio").innerHTML += "LLENE CAMPO FECHA";
								alertaRoja();
							} else {
								ajaxListaFiltro();
							}

						}
					});

	function alertaRoja() {
		$("#alertaCampoVacio").fadeTo(4000, 500).slideUp(500, function() {
			$("alertaCampoVacio").slideUp(500);
		});
	}

	function limpiarAlertaInnerHtml() {
		document.getElementById("alertaCampoVacio").innerHTML = "";
	}

	function deshabilitaBotonPDF() {
		btnPDF.disabled = true;
	}

	function habilitaBotonPDF() {
		btnPDF.disabled = false;
	}

	function ajaxListaCompleta() {
		$.ajax({
			type : "GET",
			contentType : "application/json",
			url : "/reporteQueja/listaReporteQueja",
			success : function(listaCompleta) {
				$("#tbodyDenuncias").empty()
				habilitaBotonPDF();
				for (var i = 0; i < listaCompleta.length; i++) { //cuenta la cantidad de registros
					var nuevafila = '<tr><td class="text-center col-sm-1">'
							+ listaCompleta[i].orden
							+ '</td><td class="text-center col-sm-2">'
							+ listaCompleta[i].asunto
							+ '</td><td class="text-center col-sm-1">'
							+ listaCompleta[i].numeroDisco
							+ '</td><td class="text-center col-sm-2">'
							+ listaCompleta[i].ubicacion
							+ '</td><td class="text-center col-sm-1">'
							+ listaCompleta[i].fechaString
							+ '</td><td class="text-center col-sm-2">'
							+ listaCompleta[i].nombreCooperativa
							+ '</td><td class="text-center col-sm-4">'
							+ listaCompleta[i].mensaje + '</td></tr>'
					$("#tbodyDenuncias").append(nuevafila)
				}
			},
			error : function(e) {
				console.log("ERROR: ", e);
			}
		});
	}

	function ajaxListaFiltro() {
		var inputDesde = $("#inputDateDesde").val();
		var inputHasta = $("#inputDateHasta").val();
		var cmbCooperativa = $("#selectCooperativa").val();

		var json = {
			"desde" : inputDesde,
			"hasta" : inputHasta,
			"idCooperativa" : cmbCooperativa
		};

		$.ajax({
			type : "GET",
			contentType : "application/json",
			url : "/reporteQueja/consultafiltro",
			data : json,
			success : function(listaFiltro) {
				$("#tbodyDenuncias").empty()
				console.log('listaFiltro ', listaFiltro);
				habilitaBotonPDF();
				for (var i = 0; i < listaFiltro.length; i++) { //cuenta la cantidad de registros
					var nuevafila = '<tr><td class="text-center col-sm-1">'
							+ listaFiltro[i].orden
							+ '</td><td class="text-center col-sm-2">'
							+ listaFiltro[i].asunto
							+ '</td><td class="text-center col-sm-1">'
							+ listaFiltro[i].numeroDisco
							+ '</td><td class="text-center col-sm-2">'
							+ listaFiltro[i].ubicacion
							+ '</td><td class="text-center col-sm-1">'
							+ listaFiltro[i].fechaString
							+ '</td><td class="text-center col-sm-2">'
							+ listaFiltro[i].nombreCooperativa
							+ '</td><td class="text-center col-sm-4">'
							+ listaFiltro[i].mensaje + '</td></tr>'
					$("#tbodyDenuncias").append(nuevafila)
				}
			},
			error : function(e) {
				console.log("ERROR: ", e);
			}
		});
	}
</script>
</html>