<div class="visualize panel-content panel-content--fullWidth"
	data-test-subj="visualizationLoader" data-shared-item=""
	data-title="Mapas de Calor - Sistema de Mapeo y Visualizacion de Rutas de Buses Urbanos en Santa Elena"
	data-rendering-count="35" data-render-complete="true">
	<div class="visualization">
		<div class="visChart__container" tabindex="0">
			<p class="euiScreenReaderOnly">Coordinate Map visualization, not
				yet accessible</p>
			<div aria-hidden="true"
				class="visChart leaflet-container leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
				tabindex="0" style="position: relative; outline: none;">
				<div class="leaflet-pane leaflet-map-pane"
					style="transform: translate3d(-144px, 0px, 0px);">
					<div class="leaflet-pane leaflet-tile-pane">
						<div class="leaflet-layer " style="z-index: 1; opacity: 1;">
							<div class="leaflet-tile-container leaflet-zoom-animated"
								style="z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);">
								<img alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4509/8293.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(495px, 217px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4510/8293.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(751px, 217px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4509/8292.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(495px, -39px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4510/8292.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(751px, -39px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4509/8294.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(495px, 473px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4510/8294.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(751px, 473px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4508/8293.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(239px, 217px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4511/8293.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(1007px, 217px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4508/8292.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(239px, -39px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4511/8292.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(1007px, -39px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4508/8294.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(239px, 473px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4511/8294.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(1007px, 473px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4507/8293.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(-17px, 217px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4512/8293.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(1263px, 217px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4507/8292.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(-17px, -39px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4512/8292.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(1263px, -39px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4507/8294.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(-17px, 473px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4512/8294.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(1263px, 473px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4506/8293.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(-273px, 217px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4506/8292.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(-273px, -39px, 0px); opacity: 1;"><img
									alt="" role="presentation"
									src="https://tiles.maps.elastic.co/v2/default/14/4506/8294.png?elastic_tile_service_tos=agree&amp;my_app_name=kibana&amp;my_app_version=7.0.0&amp;license=a0161c67-37e7-4cbc-9e09-0337acc41537"
									class="leaflet-tile leaflet-tile-loaded filters-off"
									style="width: 256px; height: 256px; transform: translate3d(-273px, 473px, 0px); opacity: 1;">
							</div>
						</div>
					</div>
					<div class="leaflet-pane leaflet-shadow-pane"></div>
					<div class="leaflet-pane leaflet-overlay-pane">
						<canvas
							class="leaflet-heatmap-layer leaflet-layer leaflet-zoom-hide"
							width="1112" height="650"
							style="transform-origin: 50% 50%; transform: translate3d(144px, 0px, 0px);"></canvas>
					</div>
					<div class="leaflet-pane leaflet-marker-pane"></div>
					<div class="leaflet-pane leaflet-tooltip-pane"></div>
					<div class="leaflet-pane leaflet-popup-pane"></div>
				</div>
				<div class="leaflet-control-container">
					<div class="leaflet-top leaflet-left">
						<div class="leaflet-control-zoom leaflet-bar leaflet-control">
							<a class="leaflet-control-zoom-in" href="#" title="Zoom in"
								role="button" aria-label="Zoom in">+</a><a
								class="leaflet-control-zoom-out" href="#" title="Zoom out"
								role="button" aria-label="Zoom out">-</a>
						</div>
						<div class="leaflet-control leaflet-bar leaflet-control-fit">
							<a class="kuiIcon fa-crop" href="#" title="Fit Data Bounds"
								aria-label="Fit Data Bounds"></a>
						</div>
						<div class="leaflet-draw leaflet-control">
							<div class="leaflet-draw-section">
								<div
									class="leaflet-draw-toolbar leaflet-bar leaflet-draw-toolbar-top">
									<a class="leaflet-draw-draw-polygon" href="#"
										title="Draw a polygon"><span class="sr-only">Draw a
											polygon</span></a><a class="leaflet-draw-draw-rectangle" href="#"
										title="Draw a rectangle"><span class="sr-only">Draw
											a rectangle</span></a>
								</div>
								<ul class="leaflet-draw-actions"></ul>
							</div>
						</div>
					</div>
					<div class="leaflet-top leaflet-right">
						<div class="visMapLegend__wrapper leaflet-control">
							<div class="visMapLegend"></div>
						</div>
					</div>
					<div class="leaflet-bottom leaflet-left"></div>
					<div class="leaflet-bottom leaflet-right">
						<div class="leaflet-control-attribution leaflet-control">
							<p>
								 <a href="https://www.openstreetmap.org/copyright">OpenStreetMap
									contributors</a>, <a href="https://openmaptiles.org">OpenMapTiles</a>,
								<a href="https://www.maptiler.com">MapTiler</a>, <a
									href="https://www.elastic.co/elastic-maps-service">Elastic
									Maps Service</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>