<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>HEADER</title>
</head>
<body>
	<table style="width: 100%;">
		<tr>
			<td width="20%"><img src="/imgs/logo.png" align="left"
				width="100" height="90" /></td>
			<td width="60%" align="center"><span>SISTEMA CONTROL
					TRANSPORTE URBANO</span></td>
			<td width="20%"><img src="/imgs/logo.png" align="right"
				width="100" height="90" /></td>
		</tr>
	</table>
</body>
</html>